@model IPagedList<App.Areas.Management.Models.Episode>

@{
    ViewData["Title"] = "Danh Sách Tập Phim";
}

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @(++ViewBag.episodeIndex)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="@(item.DeletedAt == null ? "Delete" : "Restore")" asp-route-id="@item.Id">
                        @(item.DeletedAt == null ? "Delete" : "Restore")
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

@{
    _AdminSidebarService.SetActive("Movie", "Index", "Management");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
